{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "jsx-quotes": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "arrow-body-style": [
      "error",
      "as-needed"
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}